@{
    Identity Identity = new Identity();
    bool isAuthentication = Identity.isAuthentication;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/Resources/IMG/System/ToPlayFox_50px.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Page.Title</title>
    @Styles.Render("~/bundles/SystemStyles")
    @RenderSection("Styles", required: false)
    @Styles.Render(ViewBag.Page.ControllerStyleHref)
    @Styles.Render(ViewBag.Page.ViewStyleHref)
</head>
<body>
    <header class="Header">
        <div class="Stars"><canvas id="HeaderStars"></canvas></div>
        <div class="InfoBlock">
            <div class="Message Left">Welcome to us...</div>
            @if (isAuthentication)
            {
                <div class="Message Right">
                    @Identity.User.Login
                    <div class="ModalBlock">
                        <div class="Photo"></div>
                        <div class="Title Space"></div>
                        <div class="Title">Профиль</div>
                        <a class="Title" href="Exit">Выход</a>
                    </div>
                </div>
            }
            else
            {
                <div class="Message Right">
                    player
                    <div class="ModalBlock">
                        <div class="Photo"></div>
                        <div class="Title Space"></div>
                        <div class="Title" onclick="Frame('/Entry');">Войти</div>
                        <div class="Title" onclick="Frame('/Registration');">Регистрация</div>
                    </div>
                </div>
            }
        </div>
        <div class="FixedBlock">
            <div class="Lable">
                <div class="Title">TO</div>
                <div class="Title">PLAY</div>
            </div>
            <div class="Menu">
                <a class="Title @((ViewBag.Page.View == "Home")?"Action":"")" href="/Home/Home">Home</a>
                <a class="Title @((ViewBag.Page.View == "Games")?"Action":"")" href="/Home/Games">Games</a>
                <a class="Title @((ViewBag.Page.View == "Support")?"Action":"")" href="/Home/Support">Support</a>
                <a class="Title @((ViewBag.Page.View == "About")?"Action":"")" href="/Home/About">About</a>
            </div>
        </div>
    </header>
    <section class="Section">
        @RenderBody()
    </section>
    <footer class="Footer">
        <div class="Stars"><canvas id="FooterStars"></canvas></div>
    </footer>
    <div class="BlackFrame" onclick="Frame();">
        <iframe class="Frame"></iframe>
    </div>
    @Scripts.Render("~/bundles/SystemScripts")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/Resources/JS/Constellation.js"></script>
    @Scripts.Render(ViewBag.Page.ControllerScriptHref)
    @Scripts.Render(ViewBag.Page.ViewScriptHref)
</body>
</html>