@using TP.PL.Helpers;
@{
    PageInfo Info = (PageInfo)ViewBag.Info;
    if (Info.isPart) { @RenderBody() return; }
}
<!DOCTYPE html>
<html lang="@Info.GetLanguage.ToLower()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Resources/IMG/System/Fox50.png" type="image/png">
    <title>@Info.Title</title>
    @Styles.Render("~/bundles/DefaultStyles")
    @Styles.Render(Info.StyleController)
    @Styles.Render(Info.StyleView)
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="container">
            <div class="Top">
                <div class="Left">
                    <span>@Info.Language.Get("welcome to us")...</span>
                </div>
                <div class="Right">
                    <div class="User">
                        @{
                            if (Info.Identity.isAuth)
                            {
                                Identity I = Info.Identity;
                                <span>...@I.User.Login</span>
                                <div class="PlayerMenu">
                                    <div class="Left Photo Load" data-image="@I.User.MainImage.URL" onclick="loadPhoto"></div>
                                    <div class="Right">
                                        <div class="Line"></div>
                                        <div class="Line"><span>@Info.Language.Get("exit")</span></div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span>...@Info.Language.Get("player")</span>
                                <div class="PlayerMenu">
                                    <div class="Left Photo"></div>
                                    <div class="Right">
                                        <div class="Line"><span>@Info.Language.Get("entry")</span></div>
                                        <div class="Line"><span>@Info.Language.Get("registration")</span></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="Language">
                        <span>@Info.GetLanguage.ToLower()</span>
                        <div class="Select">
                            <div class="Option"><span>En</span></div>
                            <div class="Option"><span>Ge</span></div>
                            <div class="Option"><span>Ru</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Bottom">
                <div class="Left">
                    <div class="Image"></div>
                    <div class="Name"><span>ToPlay</span></div>
                </div>
                <div class="Right Menu">
                    <a><div class="Link Main"><span>@Info.Language.Get("main")</span></div></a>
                    <a><div class="Link Games"><span>@Info.Language.Get("games")</span></div></a>
                </div>
            </div>
        </div>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>

    </footer>
    @Scripts.Render("~/bundles/DefaultScripts")
    @Scripts.Render(Info.ScriptController)
    @Scripts.Render(Info.ScriptView)
    @RenderSection("Scripts", required: false)
</body>
</html>
