@using TP.PL.Helpers;
@{
    PageInfo Info = (PageInfo)ViewBag.Info;
    Layout = Info.LayoutHref;
}
<div id="Data" class="hidden" data-view="@Info.View" data-controller="@Info.Controller" data-id="@ViewBag.Id">
    <div id="Waiting">
        <span>@Info.Language.Get("waiting")</span>
    </div>
    <div id="Timer">
        <span>@Info.Language.Get("time left")</span>:
        <span class="Time"></span>
        <span>@Info.Language.Get("s.")</span>
    </div>
    <div id="Coins">
        <span class="Coins">0</span>
        <span>@Info.Language.Get("coins")</span>
    </div>

    <button type="button" id="Ready" onclick="SendReady(this);">
        <span class="Ready">@Info.Language.Get("ready")</span>
        <span class="Pause">@Info.Language.Get("pause")</span>
    </button>
    <button type="button" id="Send" onclick="SendSelect(this);">
        <span class="Send">@Info.Language.Get("send")</span>
        <span class="Change">@Info.Language.Get("change")</span>
    </button>
    <button type="button" id="Lose" onclick="SendLose(this);">
        <span class="Lose">@Info.Language.Get("lose")</span>
    </button>
</div>
<div id="Template" class="hidden">
    <div class="Gamer col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="Info" onclick="SetSelect(this);">
            <div class="Image"></div>
            <div class="Name"><span></span></div>
        </div>
    </div>
</div>

<div class="Content container">
    <div class="row" id="Title"><span>@Info.Language.Get("waiting for players")</span></div>
    <div class="row" id="Gamers"></div>
</div>
