@using TP.PL.Helpers;
@{
    PageInfo Info = (PageInfo)ViewBag.Info;
    Layout = Info.LayoutHref;
}
<div class="Data" data-view="@Info.View" data-controller="@Info.Controller">
    <div class="HeaderTemp">
        <div class="Info">
            <div class="Coins">
                <span id="Coins">950</span>
                <span> @Info.Language.Get("coins")</span>
            </div>
        </div>
        <div class="Buttons">
            <button type="button" class="Exit">
                <span>@Info.Language.Get("exit")</span>
            </button>
        </div>
    </div>
</div>
<div class="Gaming container">
    <div class="row">
        <div class="Line col-12">
            <div class="Title">
                <span>@Info.Language.Get("result")</span>
            </div>
        </div>
        <div class="List Answer col-12 row justify-content-center">
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>1</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you know the players best of all")</span>
                        </div>
                    </div>
                    <div class="Name"><span>CEH4TOP</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>2</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you know how to capture moments")</span>
                        </div>
                    </div>
                    <div class="Name"><span>MISS-CEH4TOP</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>3</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you can persuade anyone")</span>
                        </div>
                    </div>
                    <div class="Name"><span>PURPUR</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>4</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you are a born tourist")</span>
                        </div>
                    </div>
                    <div class="Name"><span>MYSTERION</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>5</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you have a mega brain")</span>
                        </div>
                    </div>
                    <div class="Name"><span>PARAVOZ</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>6</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you get the 6th place")</span>
                        </div>
                    </div>
                    <div class="Name"><span>BEAR</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>7</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you get the 7th place")</span>
                        </div>
                    </div>
                    <div class="Name"><span>TAHKEP</span></div>
                </div>
            </div>
            <div class="Element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/System/ToPlayFox_250px.svg')">
                    <div class="Seat">
                        <span>7</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("you get the 8th place")</span>
                        </div>
                    </div>
                    <div class="Name"><span>PLAYER</span></div>
                </div>
            </div>

                <!--
    @{
        for (int i = 1; i <= 8; i++)
        {
            <div class="Element col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="Gamer"
                     style="background-image: url('/Resources/IMG/Users/CEH4TOP/0.jpg')">
                    <div class="Seat">
                        <span>@i</span>
                    </div>
                    <div class="Characteristic">
                        <div class="Title">
                            <span>@Info.Language.Get("characteristic")</span>
                        </div>
                        <div class="Text">
                            <span>@Info.Language.Get("well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player! well player!")</span>
                        </div>
                    </div>
                    <div class="Name">
                        <span class="Login">CEH4TOP @i</span>
                    </div>
                </div>
            </div>
        };
    }
        -->
        </div>
    </div>
</div>